---
title: Meet the Executive Team!
description: 
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% assign sorted_staff = site.staff_members | sort: "order" %}
	{% for person in sorted_staff %}
		<li>
			<div class="exec-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name">{{ person.name }}</div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
<!-- We will take out the not pictured part when we get a picture of Kiara -->
<p>Not Pictured: Kiara Kearney (Special Events)</p>


