---
title: Want to learn more about UNDM?
description:
---
<!--
<div class="subscribe-to-newsletter">
    <button type="button" class="btn button" data-toggle="modal" data-target="#exampleModal">Subscribe to our newsletter</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="writeLetter" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="writeLetter">Subscribe to our Newsletter!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="kiddoLetters" method="post" class="letter-form" data-netlify="true">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter your name..." />

                        <label for="email">Email Address</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email..." required />

                        <input type="submit" value="Add me to the newsletter!" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- Involvement roles rows - end -->
<p class="editor-link" style="text-align: center">
    <a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a>
</p>
<!--
<ul class="staff">
    {% assign sorted_staff = site.staff_members | sort: "order" %} {% for person in sorted_staff %}
    <li class="fade-item">
        <div class="exec-image">
            <img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}" />
        </div>
        <div class="name">{{ person.name }}</div>
        <div class="position">{{ person.position }}</div>
    </li>
    {% endfor %}
</ul>
-->
<!-- <h1 style="text-align: center; margin-bottom: 25px; margin-top:25px;">About Dance Marathon</h1> -->

<div class="center-content-holder">
    <!-- <div class="values-container">
        <h1 style="text-align: center; margin-bottom: 15px; margin-top:25px;">Our Purpose</h1>
        <h2>University of Nebraska Dance Marathon exists to raise funds and increase awareness for Children's Hospital & Medical Center in Omaha, NE through uniting Husker Nation to ensure every child has the ability to receive the highest quality care.</h2>
        <h1 style="text-align: center; margin-bottom: 15px; margin-top:25px;">Our Mission</h1>
        <h2>To cultivate student leaders, foster campus community, and unite Husker Nation to champion kids' health</h2>       
        <h1 style="text-align: center; margin-bottom: 15px; margin-top:25px;">Our Vision</h1>
        <h2>To ensure every child has the opportunity to become a Husker</h2>
    </div> -->

	<div class="exec-container">
		<div class="purpose-card">
			<div class="purpose-img-container">
				<img src="../images/exec/EXEC/Purpose Picture.jpg">
			</div>
			<div class=purpose-text-card>
				<h2 style="color: rgb(198, 31, 74);">Our Purpose</h2>
				<p>University of Nebraska Dance Marathon exists to raise funds and increase awareness for Children’s Hospital & Medical Center in Omaha, Nebraska through uniting Husker Nation to ensure every child has the ability to receive the highest quality care.</p>
			</div>
		</div>
		<div class="purpose-card">
			<div class="purpose-img-container">
				<img src="../images/exec/EXEC/Mission Picture.jpg">
			</div>
			<div class=purpose-text-card>
				<h2 style="color: rgb(198, 31, 74);">Our Mission</h2>
				<p>To cultivate student leaders, foster campus community, and unite Husker Nation to champion kids' health</p>
			</div>
		</div>
		<div class="purpose-card">
			<div class="purpose-img-container">
				<img src="../images/exec/EXEC/Vision Picture.jpg">
			</div>
			<div class=purpose-text-card>
				<h2 style="color: rgb(198, 31, 74);">Our Vision</h2>
				<p>To ensure every child has the opportunity to become a Husker</p>
			</div>
		</div>

        <h1 style="text-align: center; margin-bottom: 25px; margin-top:25px;">Meet our Executive Team!</h1>
		<div class="vp-grid">
			<div class="exec-page-image vp-image-container">
				<img src = "../images/exec/Ashley2021.jpg">
			</div>
			<div>
				<h3>Ashley McMurchie</h3>
				<p>Executive Director/President</p>
				<p>The President of UNDM serves as the liaison between Dance Marathon and UNL. Running mostly behind the scenes, the president makes sure her team of hard-working, passionate individuals has a smooth year.</p>
				<p>Ashley has been making a difference with Dance Marathon for 4 years. Her favorite memory is her first bracelet cutting ceremony or being Elliot's family rep! The bracelet cutting ceremony hit home and solidified to her why UNDM raises money and awareness for the Children's Hospital.  Being Elliot's family representative was also rewarding because she spent all of HuskerThon 2020 with him and was able to see the joy this event brings our Miracle Kids.</p>
			</div>
		</div>

		<div class="areaDivider"></div>

		<div class="vp-grid">
			<div class="exec-page-image vp-image-container">
				<img src="../images/exec/grace.jpg">
			</div>
			<div>
				<h3>Grace Heggem</h3>
				<p>Vice President Programming</p>
				<p>The Vice President of Programming creates, plans, and executions all UNDM events throughout the year. Whether that be the Block Party or the Main Event, the VP of Event Planning is responsible for the coordination of all events.</p>
				<p>Grace has been making a difference with Dance Marathon for years. Her favorite memory is twirling one of our miracle kiddos, Coralie, around on the dance floor during the rave at her first-ever Huskerthon. That event is when she decided she wanted to completely invest herself in DM and its mission!</p>
			</div>
		</div>

		<div class="subcommittee-grid twoRowSubCommittee">
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Haley2021.jpg">
				</div>
				<div>
					<p>Haley Brezack</p>
					<div>Director of Event Coordination</div>
					<div>The Directors of Event Coordination scout and book entertainment acts and program events for HuskerThon to make it as enjoyable as possible for the Kiddos.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Pat2021.jpg">
				</div>
				<div>
					<p>Pat Malec</p>
					<div>Director of Event Coordination</div>
					<div>The Directors of Event Coordination scout and book entertainment acts and program events for HuskerThon to make it as enjoyable as possible for the Kiddos.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Megan2021.jpg">
				</div>
				<div>
					<p>Megan Ott</p>
					<div>Director of Event Operations</div>
					<div>The Director of Event Operations plans and executes the logistics of HuskerThon including staff allocations and following UNL policy guidelines.</div>
				</div>
			</div>
			<div class="subcommittee-cell"></div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/UNDM.png">
				</div>
				<div>
					<p>Libby Bash</p>
				<div>Director of Special Events</div>
				<div>The Director of Special Events generates ideas and executes smaller special events throughout the year to continue engagement.</div>
				</div>
			</div>

		</div>

		<div class="areaDivider"></div>

		<div class="vp-grid">
			<div class="exec-page-image vp-image-container">
				<img src="../images/exec/Caitlin2021.jpg">
			</div>
			<div>
				<h3>Caitlin McCarthy</h3>
				<p>Vice President Finance</p>
				<p>The Vice President of Finance oversees budgeting, data tracking, and the allocation of monetary resources. She focuses on making sure UNDM can give the most to Omaha Children’s Miracle Network Hospital.</p>
				<p>This is Caitlin’s 4th year making an impact with UNDM. Her favorite memory is being Willa’s family rep and watching her dance and sing in her middle school musical and making Tik Toks with her.</p>
			</div>
		</div>

		<div class="subcommittee-grid twoRowSubCommittee">
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/1Jared2021.jpg">
				</div>
				<div>
					<p>Jared Mulder</p>
					<div>Directors of Corporate Sponsorship</div>
					<div>The Directors of Corporate Sponsorship manage donor stewardship, food sponsorship, and in-kind donations. They work very closely with all corporate connections UNDM has within the organization and university.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Jacob2021.jpg">
				</div>
				<div>
					<p>Jacob Zadalis</p>
					<div>Directors of Corporate Sponsorship</div>
					<div>The Directors of Corporate Sponsorship manage donor stewardship, food sponsorship, and in-kind donations. They work very closely with all corporate connections UNDM has within the organization and university.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/UNDM.png">
				</div>
				<div>
					<p>Hunter Godina</p>
					<div>Director of Data Analytics</div>
					<div>The Director of Data Analytics utilizes present data and previous year’s trends to help UNDM make more informed decisions to determine fundraising timelines, sponsorship amounts, and recruitment efforts.</div>
				</div>
			</div>
			<div class="subcommittee-cell"></div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Joe2021.jpg">
				</div>
				<div>
					<p>Joseph Ho</p>
					<div>Director of Fundraising</div>
					<div>The Director of Fundraising oversees all planning and hosting of fundraising “work-shops” for dancers looking to raise more money. They generate ideas to assist staff and Miracle Makers in reaching their fundraising goals.</div>
				</div>
			</div>
		</div>

		<div class="areaDivider"></div>

		<div class="vp-grid">
			<div class="exec-page-image vp-image-container">
				<img src="../images/exec/Ethan2021.jpg">
			</div>
			<div>
				<h3>Ethan Carlson</h3>
				<p>Vice President Engagement</p>
				<p>The Vice President of Engagement mandates recruitment and involvement strategies for students seeking to get involved in UNDM. He is crucial in making sure the students and the kids have an amazing Dance Marathon.</p>
				<p>This is Ethan’s 4th year making an impact with Dance Marathon. His favorite memory of UNDM is spending the day with his miracle kid, Landon, at HuskerThon 2020. This allowed him to understand Landon’s story and the tangible impact Omaha Children’s Hospital and Medical Center makes on kids every day. Landon’s perseverance, joy, and goofiness inspire Ethan every day.</p>
			</div>
		</div>

		<div class="subcommittee-grid threeRowSubCommittee">
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Cole2021.jpg">
				</div>
				<div>
					<p>Cole Ulmer</p>
					<div>Director of Communications</div>
					<div>The Director of Communications informs Miracle Makers of different fundraising events, as well as the details of HuskerThon.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Makayla2021.jpg">
				</div>
				<div>
					<p>Makayla Champoux</p>
					<div> Directors of Families</div>
					<div>The Directors of Families serve as a liaison between UNDM and the families at the Omaha Miracle Network Children’s Hospital and Medical Center </div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Lori2021.jpg">
				</div>
				<div>
					<p>Lori White</p>
					<div> Directors of Families</div>
					<div>The Directors of Families serve as a liaison between UNDM and the families at the Omaha Miracle Network Children’s Hospital and Medical Center </div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Chris2021.jpg">
				</div>
				<div>
					<p>Chris Kingsley</p>
					<div>Directors of Morale</div>
					<div>The Directors of Morale keep the spirit of Dance Marathon high, energetic, and positive throughout the entire year.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Ashton2021.jpg">
				</div>
				<div>
					<p>Ashton Sandman</p>
					<div>Directors of Morale</div>
					<div>The Directors of Morale keep the spirit of Dance Marathon high, energetic, and positive throughout the entire year.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Cameron2021.jpg">
				</div>
				<div>
					<p>Cameron Downey</p>
					<div>Directors of Recruitment</div>
					<div>The Directors of Recruitment communicate with RSO’s, Greek life, and other organizations to increase involvement and recruit more Miracle Makers.</div>
				</div>
			</div>
			<div class="subcommittee-cell"></div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Michael2021.jpg">
				</div>
				<div>
					<p>Michael IIg</p>
					<div>Directors of Recruitment</div>
					<div>The Directors of Recruitment communicate with RSO’s, Greek life, and other organizations to increase involvement and recruit more Miracle Makers.</div>
				</div>
			</div>
		</div>

		<div class="areaDivider"></div>

		<div class="vp-grid">
			<div class="exec-page-image vp-image-container">
				<img src="../images/exec/Jared2021.jpg">
			</div>
			<div>
				<h3>Jared Schmid</h3>
				<p>Vice President Marketing</p>
				<p>The Vice President of Marketing controls all the buzz that UNDM brings about. He makes sure that our Dance Marathon is heard about within the community and around campus.</p>
				<p>This is Jared’s 3rd year making an impact with Dance Marathon. His favorite UNDM memory was during the talent show at HuskerThon 2020 when a girl who was told as a young child that she would never be able to speak went up on the stage and sang a song to everyone. It was an incredibly moving and inspiring moment that serves as a reminder of the impact of our mission.</p>
			</div>
		</div>

		<div class="subcommittee-grid twoRowSubCommittee">
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Anna2021.jpg">
				</div>
				<div>
					<p>Anna Fiala</p>
					<div>Director of Advertising</div>
					<div>The Director of Advertising plans and executes all promotional and press initiatives for Dance Marathon.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/UNDM.png">
				</div>
				<div>
					<p>Anjali Nooka</p>
					<div>Director of Media</div>
					<div>The Director of Media oversees all aspects of graphic design, photography, and videography.</div>
				</div>
			</div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Elizabeth2021.jpg">
				</div>
				<div>
					<p>Elizabeth Nesland</p>
					<div>Director of Public Relations</div>
					<div>The Director of Public Relations builds relationships with the faculty, Deans, and other staff members on campus and communicates with those in the community.</div>
				</div>
			</div>
			<div class="subcommittee-cell"></div>
			<div class="subcommittee-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/exec/Lizzy2021.jpg">
				</div>
				<div>
					<p>Lizzy Kenes</p>
					<div>Director of Website</div>
					<div>The Director of Website works to perform updates and maintenance to the UNDM site.</div>
				</div>
			</div>
		</div>


	</div>
</div>
<!-- We will take out the not pictured part when we get a picture of Kiara -->
<!--<p>Not Pictured: Kiara Kearney (Special Events)</p>-->
