---
title: 
description: 
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    function showImages(el) {
        var windowHeight = jQuery(window).height();
        $(el).each(function () {
            var thisPos = $(this).offset().top;

            var topOfWindow = $(window).scrollTop();
            if (topOfWindow + windowHeight - 200 > thisPos) {
                $(this).addClass("fadeIn");
            }
        });
    }

    // if the image in the window of browser when the page is loaded, show that image
    $(document).ready(function () {
        showImages('.star');
    });

    // if the image in the window of browser when scrolling the page, show that image
    $(window).scroll(function () {
        showImages('.star');
    });
</script>
<div class="content">
    <div class="families-head">
        <h1>Meet Our Miracle Kids</h1>
        <p>Have a child that wants to become a part of UNDM? 
            <div>
                <p>
                    Contact our Family Relations Directors: 
                    <a href="mailto:family.relations@unldancemarathon.com">family.relations@unldancemarathon.com</a>
                </p>
            </div>
        </p>
        {% if site.data.forms.kiddo-letter %}
        {% include forms/kiddo-letter.html%}
        {% endif %}
    </div>
</div>

<div class="center-content-holder">
    <section class="families">
        <div id="familyCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for family in site.data.families %}
                <div class="item" style="height:50vh">
                    <img src="{{ family.image }}" alt="Dance Marathon family"
                        style="max-width: 100%; max-height: 100%; object-fit: contain;">
                </div>
                {% endfor %}
            </div>
            <script>
                $('#familyCarousel .item').first().addClass('active');
            </script>
        </div>
    </section>
	<div class="exec-container">
        <div class="subcommittee-grid">
			<div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/marlys.jpg">
				</div>
				<div>
					<p>Marlys</p>
					<div>Marlys suffers from Zygomycosis, BPD, and pulmonary hypertension. Despite being born at 25 weeks, and being given a 20% chance to live, Marlys is now three years old! Her team at Children's has become like family!</div>
				</div>
			</div>
			<div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/zalyn.jpg">
				</div>
				<div>
					<p>Zalyn</p>
					<div>Zalyn was born with Trisomy 18 (Edward's Syndrome). Only 5 out of 100 children with Edward's Syndrome make it to birth, and only 1 of those 5 children will make it to their first birthday. Zalyn is now five and a half years old! He loves paw patrol, swimming, and playing outside.</div>
				</div>
			</div>
			<div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/milly.jpg">
				</div>
				<div>
					<p>Milly</p>
					<div>Milly has dealt with pulmonary hypoplasia and several other conditions in her life. Despite hearing loss brought on by complications with her lungs, Milly has a beautiful singing voice and was named the National Miracle Child in 2017!</div>
				</div>
			</div>
            <div class="kid-cell">
                <div class="exec-page-image subcommitee-image">
                    <img src="../images/kids/anna.jpg">
                </div>
                <div>
                    <p>Anna</p>
                    <div>Anna is 14 years old and has Down Syndrome, Congenital Heart Defect, and Pulmonary Hypertension. She is expected to have her 6th open heart surgery soon and is doing well! Anna enjoys Disney, YouTube, Golf, and NE Volleyball!</div>
                </div>
            </div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/avery.jpg">
				</div>
				<div>
					<p>Avery</p>
					<div>Avery is 11 years old and has Hypoplastic Left Heart Syndrome. She is thriving and hasn't been hospitalized in 5 years! Avery enjoys dance, sports, art, and animals!</div>
				</div>
			</div>
            <div class="kid-cell">
                <div class="exec-page-image subcommitee-image">
                    <img src="../images/kids/caden.jpg">
                </div>
                <div>
                    <p>Caden</p>
                    <div>Caden is 17 years old and has Liver cancer and a heart defect. He is doing great! Caden enjoys cars and Pokemon!</div>
                </div>
            </div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/chloe.jpg">
				</div>
				<div>
					<p>Chloe</p>
					<div>Chloe is 10 years. She lives with epilepsy and is developmentally delayed. She had eye surgery in May for her lazy eye and is doing well! Chloe enjoys the first Frozen movie, trolls, coloring, playing outside, and bubbles!</div>
				</div>
			</div>
            <div class="kid-cell">
                <div class="exec-page-image subcommitee-image">
                    <img src="../images/kids/coralie.jpg">
                </div>
                <div>
                    <p>Coralie</p>
                    <div>Coralie is 5 years old and lives with complex congenital heart disease. She will likely have open heart surgery before HuskerThon and is doing great! Coralie enjoys reading, LEGOs, learning, and holding her baby sister!</div>
                </div>
            </div> 
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/elliot.jpg">
				</div>
				<div>
					<p>Elliot</p>
					<div>Elliot is 9 years old and has Hypoplastic Left Heart Syndrome and a heart transplant. He is doing well and will have an annual heart cath to check for rejection in November. January 2022 will be 8 years with his new heart. Elliot enjoys playing outside, baseball, playing on his switch, and YouTube!</div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/harley.jpg">
				</div>
				<div>
					<p>Harley</p>
					<div>Harley is 3 years old and has a heart defect, a brain injury, and Cerebral Palsy. She goes to therapy twice a week and is doing great! Harley enjoys Minnie and Mickey Mouse!</div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/kaden.jpg">
				</div>
				<div>
					<p>Kaden</p>
					<div>Kaden is 11 years old and has Type 1 diabetes. He is doing well! Kaden enjoys swimming, diving, playing outside, and video games!</div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/malcolm.jpg">
				</div>
				<div>
					<p>Malcolm</p>
					<div>Malcolm is 12 years old and had Stage 4 Neuroblastoma. He is doing great! There has been no evidence of the disease since 2014, and he has not had treatment since 2015. Malcolm enjoys trains, writing, and hugging! </div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/malory.jpg">
				</div>
				<div>
					<p>Malory</p>
					<div>Malory is 14 years old and has OMS (opsoclonus myoclonus syndrome) and MCTD (mixed connective tissue disorder).She is off OMS infusions and on immunosuppressants. Malory enjoys swimming, her new puppy, Netflix, and camping!</div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/parker.jpg">
				</div>
				<div>
					<p>Parker</p>
					<div>Parker is 11 years old and has Chromosome 6q deletion. He is doing well! Parker enjoys music, reading, playing ball, and constantly moving!</div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/willa.jpg">
				</div>
				<div>
					<p>Willa</p>
					<div>Willa is 14 years old and has VACTERL association. She is doing great! Willa enjoys dance, cheer, cooking/baking, and track!</div>
				</div>
			</div>
            <div class="kid-cell">
				<div class="exec-page-image subcommittee-image">
					<img src="../images/kids/bradyn.jpg">
				</div>
				<div>
					<p>Bradyn</p>
					<div>Bradyn is 14 years old. He lives with Lennox-Gastaut Syndrome and is developmentally delayed. He had his VNS replaced in February and is doing well! Bradyn's hobbies include cars/racing, Fast and Furious movies, superheroes, and sports!</div>
				</div>
			</div>
		</div>
	</div>
</div>
