.title {
  background: rgb(150, 149, 147); 
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
    text-align: center;
  }
}

.column {
  width: 49%
}

.card-body {
  
  .layer-1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }

  .main {
    transition-duration: .7s;
    opacity: 1;
    color: white;
  }
  
  .secondary { 
    transition-duration: .7s; 
    opacity: 0;
    color: white; 
  } 
}

.dropdown {
  background: white
}
 
.card-body:hover {

  .layer-1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }

  .main { 
    transition-duration: .7s; 
    opacity: 0.2;
  }
  .secondary { 
    transition-duration: .7s; 
    opacity: 1;
  }
}
  
 .sponsor {
    height: 17rem; 
    width: 17rem; 
    margin-top: 5%;
    background-color: rgb(198, 31, 74)!important;
    overflow-y: auto;
  }
  

  .level-design {
    background-color: rgb(255, 188, 64); 
    
    h3 {
      text-align: center;
      margin: 0;
    }

    h3 .title {
      color: black;
    }
  }


  .card-header {
    border-radius: 40%!important;
    background: white;
    margin: 2%;

    .black {
      color: black;
    }
  
    .pink {
      color: rgb(173, 38, 117);
    }
  }

  .sponsors-head {
    display: flex;
	  flex-direction: column;
  	align-items: center;
    justify-content: center;
    p {
        text-align: center;
    }
    margin-bottom: 10%;
}

  .sponsor-grid {
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 3px solid #db3333;
        border-collapse: collapse;
        tr{
            border: 3px solid #db3333;
            border-collapse: collapse;
        }
        td {
            border: 3px solid #db3333;
            border-collapse: collapse;
        }
    }
    
}

  

  
