.title {
  background: rgb(150, 149, 147); 
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
    text-align: center;
  }
}


.card-body {
  align-items: center; 
  display: flex;
  
  .layer-1 {
    position: relative;
    z-index: 1;
    text-align: center!important;
  }

  .layer-2 {
    position: absolute;
    z-index: 2;
    margin-right: 12%;
  }

  .main {
    transition-duration: .7s;
    opacity: 1;
    color: black;
    text-align: center;
  }
  
  .secondary { 
    transition-duration: .7s; 
    opacity: 0;
    color: black; 
    text-align: center;
  } 
}

.dropdown {
  background: white
}


.card-body:hover {
  align-items: center; 
  display: flex;

  .layer-1 {
    position: relative;
    z-index: 1;
    text-align: center!important;
  }

  .layer-2 {
    position: absolute;
    z-index: 2;
    text-align: center!important;
    margin-right: 12%;
  }

  .main { 
    transition-duration: .7s; 
    opacity: 0.2;
    text-align: center;
  }
  .secondary { 
    transition-duration: .7s; 
    opacity: 1;
    text-align: center;
  }
}

.wrapper {
  margin-bottom: 10%;
}

.spacing {
  margin-top: 5%;
}

.row {
  margin-bottom: 3%;

  h2 {
    margin-left: 10px;
  }

}
  
 .sponsor {
    height: 23rem; 
    width: 23rem; 
    margin-top: 5%;
    background-color: #D3D3D3!important;
    border: 6px solid #db3333;
    overflow-y: auto;
  }

  .level-design {
    background-color: rgb(255, 188, 64); 
    
    
    h3 {
      text-align: center;
      margin: 0;
    }

    h3 .title {
      color: black;
    }
  }


  .card-header {
    border-radius: 40%!important;
    background: white;
    margin: 3%;

    .black {
      color: black;
    }
  
    .pink {
      color: rgb(173, 38, 117);
    }
  }

  .sponsors-head {
    display: flex;
	  flex-direction: column;
  	align-items: center;
    justify-content: center;
    p {
        text-align: center;
    }
    a {
        font-size: max(1vw, 13px);
    }
    margin-bottom: 5%;
}

  .sponsor-grid {
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;

        tr{
            border-collapse: collapse;
        }
        td {
            border-collapse: collapse;
            padding: 4%;
        }
    }
    
}

  

  
